@{
    ViewBag.Title = "About";
    <!-- CSS Links-->
    @Styles.Render("~/Content/MMSQ.css")
}
<h2>@ViewBag.Title.</h2>
<br />
<h3 style="text-align:center;">@ViewBag.Message</h3>

<!-- ABOUT PAGE -->
<p class="About">
    For over 20 years, MMSQ has been the most well-known video game community cruisin' down the Information Superhighway,
    and it is made up of a hard-working team of expert gamers on staff as well as millions of visitors around the world who contribute their knowledge and experiences on a daily basis. <br />

    <br />It was as a simple idea that began in the summer of 2000: a site where people could view the latest released games.
    Since then, that idea has blossomed into a one of the global authorities on everything gaming! 
    From viewing the latest titles and trailers to commenting, scoring and leaving reviews, MMSQ offers users more than ever before. MMSQ is for the players.<br />
    <br> MMSQ is for the gamers. MMSQ is for you.<br />
</p>
