@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!-- ABOUT PAGE -->
<p>
    It was as a simple idea that began in the summer of 1997: a site where people could view the latest released games.
    Since then, that idea has blossomed into a one of the global authorities on everything gaming!
    From viewing the latest titles and trailers to commenting, scoring and leaving reviews, MMsq offers users more than ever before.

    MMSQ is for the players. MMSQ is for the gamers. MMSQ is for you.
</p>
