@{
    ViewBag.Title = "Contact";
    <!-- CSS Links-->
    @Styles.Render("~/Content/MMSQ.css")
}
<h2>@ViewBag.Title.</h2>
<br />
<h3 style="text-align:center;">@ViewBag.Message</h3>


<!-- CONTACT US PAGE -->
<p class="ContactUs">
    Gateway House <br />
    De Montfort University <br />
    Gateway Street<br />
    Leicester, United Kingdom<br />
    P: 01827 46473 <br />
    <br /> <strong>Support: </strong><a href="mailto:Support@MMSQGamesReview.com">Support@MMSQ.com</a><br />
    <strong>Marketing: </strong> <a href="mailto:Marketing@MMSQGamesReview.com">Marketing@MMSQ.com</a>
</p>

<!-- Contact Us Location Image-->
<div id="ContactUsImage" style="position: absolute; left: 500px; top: 130px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <img src="~/Images/ContactUs.jpg"/>
</div>
