
@{
    ViewBag.Title = "Developers";
}

<address>
    Gateway House<br />
    De Montfort University, Gateway Street<br />
    Leicester, United Kingdom<br />
    <abbr title="Phone">P:</abbr>
    01827 46473
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@MMsqGamesReview.com">Support@MMsqGamesReview.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@MMsqGamesReview.com">Marketing@MMsqGamesReview.com</a>
</address>

