
@{
    ViewBag.Title = "FAQ HELP";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <!-- CSS Links-->
    @Styles.Render("~/Content/MMSQ.css")
}

<h2>@ViewBag.Title.</h2>
<br>
<h3 style="text-align:center;">@ViewBag.Message</h3>
<!-- FAQ PAGE -->
<div class="FAQ">

    <h5> How can I edit my user review?  </h5>
    <p>
        While logged in, the simplest way to edit your user review is to copy your existing review and paste it into the review submission box.
        We will eventually upgrade the system to make it simpler to edit and delete your reviews.
        We'll also have a page listing your individual product "ratings" and other statistics detailing your participation history.
        (Currently, if you click on your username, you can view all of your user reviews, but not the bare ratings.)<br />
    </p>

    <br />

    <h5>How can I change my user score/rating I've left for a movie/game/album/tv show, and how can I edit my user review?</h5>
    <p>
        Whether you've simply left a user rating or you've written a user review with a rating/score, if you'd like to change your rating/score,
        simply make sure that you're logged in and adjust your score.<br />
    </p>

    <br />

    <h5>How often is your music site updated?</h5>
    <p>
        New reviews are added to existing albums on a daily basis.
        New albums are added to the site in large batches, usually several times a week.
    </p>

    <br />

    <h5>Can you tell me how each of the different critics are weighted in your formula?</h5>
    <p>Absolutely not.<br /></p>

    <br />

    <h5>How do I submit account requests related to the European Union Global Data Protection Regulation (EU GDPR)?</h5>
    <p>
        For all EU Data Subject Rights requests (General Data Protection Regulation), please provide all the necessary information through the Trustarc Individual Right Management Form available for CBS to start processing your request.
        <a href="https://www.cbsinteractive.com/legal/cbsi/privacy-policy/eu">https://www.cbsinteractive.com/legal/cbsi/privacy-policy/eu</a>
    </p>
</div>