
@{
    ViewBag.Title = "FPS";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <!-- CSS Links-->
    @Styles.Render("~/Content/MMSQ.css")
}

<h4 style="position:absolute; text-align:center; top:55px; left:290px;"> Top Rated Shooter Games</h4>
<table class="table" style="text-align:center; position:absolute; left:-30px; top:100px; width:1000px; height:300px;">

    <tr style="text-align:center;">
        <th>
            Rank
        </th>
        <th>
            Game Title
        </th>
        <th>
            Game Score
        </th>
    </tr>
    <tr>
        <td>
            1st
        </td>
        <td>
            Call Of Duty MW
        </td>
        <td>
            10/10
        </td>
    </tr>
    <tr>
        <td>
            2nd
        </td>
        <td>
            Battlefield One
        </td>
        <td>
            9.1/10
        </td>
    </tr>
    <tr>
        <td>
            3rd
        </td>
        <td>
            Rainbow Six Siege
        </td>
        <td>
            8.3/10
        </td>
    </tr>
</table>

<p id="action" style="position:absolute; text-align:center; top:625px; left:-250px;">
    <a href="/Home/LeagueTable" class="btn btn-info" role="button"> Back </a>
</p>


