
@{
    ViewBag.Title = "GamesReview";
    @Styles.Render("~/Content/MMSQ.css")}

<h2>@ViewBag.Title.</h2>
<br />
<h3 style="text-align:center;"> Games Review </h3>

<!-- GAMES REVIEW PAGE-->

<!-- -->