@{
    ViewBag.Title = "Home Page";
}

<br />
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Submit</button>
    </form>
</nav>

<div class="text-left">
    <img src="~/Images/Games Review.jpg" class="rounded" alt="Games Review Image" width="200" height="200">

    <img src="~/Images/Game Developer.png" class="rounded" alt="Games Review Image" width="200" height="200">

    <img src="~/Images/League Table.jpg" class="rounded" alt="Games Review Image" width="200" height="200">
</div>
    <p>
        <a href="~/Home/Contact" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Contact Page </a>
        <a href="~/Home/About" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">About Page </a>
    </p> 
