
@{
    ViewBag.Title = "LeagueTable";
    <!-- CSS Links-->
    @Styles.Render("~/Content/MMSQ.css")
}
<h2>@ViewBag.Title.</h2>
<br />
<h3 style="text-align:center;"> League Table </h3>

<!-- LEAGUE TABLE PAGE-->
