@{
    ViewBag.Title = "UnderConstruction";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <!-- CSS Links-->
    @Styles.Render("~/Content/MMSQ.css")
    <script src="~/Scripts/UnderConstructionTimer.js"></script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title> Under Construction </title>
</head>
<body>
    <header>
        <div class="UnderConstruc">
            UNDER <br> CONSTRUCTION
            <br>
            <p id="launch">

            </p>
        </div>
    </header>
</body>
</html>



