################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/MMSQ/.vs/MMSQ/v15/Server/sqlite3
