@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*Sufiyaan Hussain*@ 
    <h1>MMSq</h1>
    <p class="lead">MMSQ is a group formed of two system analyst (Muhammad Qasim and Meera) and two developers  (Mathunila and Sufiyaan)</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        @*Meera Varia*@ 
        <h2>About us</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        @*Qasim Jillani*@ 
        <h2>Get more Games</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        @*Mathunila Nitharsan*@ 
        <h2>Web Pages </h2>
        <p> For this website, we will be creating 7 pages. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>